<app-breadcrumb [menuItems]="menuItems"></app-breadcrumb>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-8 mb-md-5">
                <form action="#" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" [placeholder]="translate('Contact.YourName')">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [placeholder]="translate('Contact.YourEmail')">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [placeholder]="translate('Contact.Subject')">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                            [placeholder]="translate('Contact.Message')"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" [value]="translate('Contact.SendMessage')"
                            class="btn btn-primary py-3 px-5">
                    </div>
                </form>
                <h2 class="text-center mt-5">{{translate('Contact.Summary')}}</h2>
            </div>
        </div>
        <div class="row d-flex mb-5 contact-info justify-content-center" *ngIf="generalSettings">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="pi pi-map"></span>
                        </div>
                        <p><span>{{translate('Contact.Address')}}:</span> {{generalSettings.contactAddress}}</p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="pi pi-phone"></span>
                        </div>
                        <p><span>{{translate('Contact.Phone')}}:</span> <a href="tel:{{generalSettings.contactPhone}}">
                                {{generalSettings.contactPhone}}</a>
                        </p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="pi pi-paper-plane"></span>
                        </div>
                        <p><span>{{translate('Common.Email')}}:</span> <a
                                href="mailto:{{generalSettings.supportMail}}">{{generalSettings.supportMail}}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="generalSettings && googleMapUrl">
            <div class="col-md-8">
                <div id="map" class="bg-white" style="position: relative; overflow: hidden;">
                    <iframe [src]="googleMapUrl" style="border:0;width: 100%;height: 400px;" allowfullscreen=""
                        loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>