:host ::ng-deep {
    .ui-panel-images {
        width: auto;
        height: inherit;
        object-fit: contain;
        position: relative;
    }
    .justify-content-center {
        justify-content: center !important;
    }
    .grid-nogutter {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }
}

.grid_image {
    width: 100%;
    object-fit: fill;
    height: 300px;
}
