<p-carousel [value]="slideMediaList" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="10000"
    [showIndicators]="false" [showNavigators]="false">
    <ng-template let-media pTemplate="item">
        <section class="hero-wrap"
            style="background-image: url(&quot;{{media.backgroundImagePath}}&quot;), linear-gradient(#fff, #fffff2); background-position: 50% 0%;"
            data-stellar-background-ratio="0.3">
            <div class="overlay"></div>
            <div class="container">
                <div class="grid grid-nogutter slider-text align-items-center">
                    <div class="md:col-10 lg:col-7 ftco-animate d-flex align-items-end fadeInUp ftco-animated">
                        <div class="text">
                            <h1 class="mb-4" *ngIf="media.title">{{media.title}}</h1>
                            <p *ngIf="media.summary" [style]="media.textStyle?media.textStyle:'font-size:18px'">
                                {{media.summary}}</p>
                            <div class="d-flex meta" *ngIf="media.buttonText && media.page && media.page.slug">
                                <div class="">
                                    <p class="mb-0">
                                        <a [routerLink]="'p/'+media.page.slug" class="btn btn-primary py-3 px-2 px-md-4"
                                            [style]="media.buttonStyle">{{media.buttonText}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</p-carousel>
<section class="ftco-section ftco-no-pb ftco-no-pt bg-primary"
    *ngIf="generalSettings != null && getGeneralSettingsTransByCurrentLangId!=null">
    <div class="container">
        <div class="grid d-flex grid-nogutter">
            <div class="md:col-3 d-flex align-items-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services services-bg d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span [class]="'pi '+getGeneralSettingsTransByCurrentLangId?.info1Icon"></span>
                    </div>
                    <div class="media-body">
                        <h3>{{getGeneralSettingsTransByCurrentLangId?.info1Title}}</h3>
                        <p>{{getGeneralSettingsTransByCurrentLangId?.info1Description}}</p>
                    </div>
                </div>
            </div>
            <div class="md:col-3 d-flex align-items-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span [class]="'pi '+getGeneralSettingsTransByCurrentLangId?.info2Icon"></span>
                    </div>
                    <div class="media-body">
                        <h3>{{getGeneralSettingsTransByCurrentLangId?.info2Title}}</h3>
                        <p>{{getGeneralSettingsTransByCurrentLangId?.info2Description}}</p>
                    </div>
                </div>
            </div>
            <div class="md:col-3 d-flex align-items-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span [class]="'pi '+getGeneralSettingsTransByCurrentLangId?.info3Icon"></span>
                    </div>
                    <div class="media-body">
                        <h3>{{getGeneralSettingsTransByCurrentLangId?.info3Title}}</h3>
                        <p>{{getGeneralSettingsTransByCurrentLangId?.info3Description}}</p>
                    </div>
                </div>
            </div>
            <div class="md:col-3 d-flex align-items-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services services-bg d-block text-center px-4 py-5">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span [class]="'pi '+getGeneralSettingsTransByCurrentLangId?.info4Icon"></span>
                    </div>
                    <div class="media-body">
                        <h3>{{getGeneralSettingsTransByCurrentLangId?.info4Title}}</h3>
                        <p>{{getGeneralSettingsTransByCurrentLangId?.info4Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt"
    *ngIf="generalSettings != null && getGeneralSettingsTransByCurrentLangId!=null">
    <div class="container">
        <div class="grid">
            <div class="lg:col-7 order-md-last d-md-flex align-items-stretch">
                <div class="img w-100 img-2 mr-md-2" style="background-image:url(assets/images/about-us-1.png)"></div>
                <div class="img w-100 img-2 img-overlay ml-md-2 p-4"
                    style="background-image:url(assets/images/about-us-2.png)">
                    <div class="request-quote py-5">
                        <div class="py-2">
                            <h3>{{translate('Home.ContactUs')}}</h3>
                        </div>
                        <form [formGroup]="formContact" (ngSubmit)="sendContactForm()"
                            class="request-form ftco-animate fadeInUp ftco-animated">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name"
                                    [placeholder]="translate('Contact.YourName')+'*'">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="surname"
                                    [placeholder]="translate('Contact.YourSurname')+'*'">
                            </div>
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon-arr"><span class="ion-ios-arrow-down"></span></div>
                                        <select formControlName="supportType" class="form-control">
                                            <option [ngValue]="null" disabled style="color:black">
                                                {{translate('Contact.SelectSupportTicketType')+'*'}}
                                            </option>
                                            <option *ngFor="let type of supportTicketTypeList" [ngValue]="type"
                                                style="color:black">
                                                {{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="email"
                                    [placeholder]="translate('Contact.YourEmail')+'*'">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="phoneNumber"
                                    [placeholder]="translate('Contact.YourPhoneNumber')">
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="2" formControlName="content"
                                    class="form-control" [placeholder]="translate('Contact.Message')+'*'"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" [disabled]="formContact.invalid"
                                    [value]="translate('Contact.SendMessage')" class="btn btn-primary py-3 px-4">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="lg:col-5 wrap-about py-md-5 ftco-animate fadeInUp ftco-animated">
                <div class="heading-section pr-md-5">
                    <h2 class="mb-4">Klasik Merdiven</h2>
                    <p>{{getGeneralSettingsTransByCurrentLangId.aboutUs}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-counter img" id="section-counter" *ngIf="generalSettings != null">
    <div class="container">
        <div class="grid pt-md-5">
            <div class="md:col-4 lg:col-4 sm:col-12 counter-wrap ftco-animate fadeInUp ftco-animated">
                <div class="block-18 py-md-5 mb-md-4">
                    <div class="text text-border d-flex align-items-center justify-content-center ">
                        <strong class="number">{{generalSettings?.yearsOfExperienced}}</strong>
                        <span>{{translate('Home.YearsOfExperienced')}}</span>
                    </div>
                </div>
            </div>
            <div class="md:col-4 lg:col-4 sm:col-12 counter-wrap ftco-animate fadeInUp ftco-animated">
                <div class="block-18 py-md-5 mb-md-4">
                    <div class="text text-border d-flex align-items-center justify-content-center ">
                        <strong class="number">{{generalSettings?.projectDone}}</strong>
                        <span>{{translate('Home.ProjectDone')}}</span>
                    </div>
                </div>
            </div>
            <div class="md:col-4 lg:col-4 sm:col-12 counter-wrap ftco-animate fadeInUp ftco-animated">
                <div class="block-18 py-md-5 mb-md-4">
                    <div class="text d-flex align-items-center justify-content-center ">
                        <strong class="number">{{generalSettings?.happyCustomer}}</strong>
                        <span>{{translate('Home.HappyCustomer')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-portfolio" *ngIf="latestProjectList && latestProjectList.length>0">
    <div class="grid justify-content-center grid-nogutter">
        <div class="md:col-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
            <span class="subheading">{{latestProjectList[0].parentPage.name}}</span>
            <h2 class="mb-2">{{translate('Home.LatestProjects') | stringFormat: latestProjectList[0].parentPage.name}}
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="grid grid-nogutter">
            <div class="md:col-12 portfolio-wrap" *ngFor="let latestProject of latestProjectList;let i = index">
                <div class="grid grid-nogutter align-items-center">
                    <div class="md:col-5 img js-fullheight" [class.order-md-last]="i%2==0"
                        style="background-image: url(&quot;{{latestProject.backgroundPath}}&quot;); height: 625px;background-size: contain;">
                    </div>
                    <div class="md:col-7">
                        <div class="text pt-5 ftco-animate fadeInUp ftco-animated" [class.pl-0.pl-lg-5.pl-md-4]="i%2!=0"
                            [class.pr-md-5]="i%2==0">
                            <div class="px-4 px-lg-4">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">{{latestProject.createdBy.name}}
                                            {{latestProject.createdDate |
                                            date:'M/d/yy'}}</span>
                                        <h2 class="mb-4"><a
                                                [routerLink]="['/p',latestProject.slug]">{{latestProject.name}}</a>
                                        </h2>
                                    </div>
                                    <div class="absolute">
                                        <p>{{latestProject.summary}}</p>
                                        <p><a [routerLink]="['/p',latestProject.slug]"
                                                class="custom-btn">{{translate('Home.ViewDetail')}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light"
    *ngIf="testimonialSlide && testimonialSlide.slideMedias!=null && testimonialSlide.slideMedias.length>0">
    <div class="container">
        <div class="grid justify-content-center mb-5">
            <div class="md:col-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">{{translate('Home.CustomerFeedBack')}}</h2>
            </div>
        </div>
        <div class="grid ftco-animate fadeInUp ftco-animated">
            <div class="md:col-12">
                <p-carousel [value]="testimonialSlide.slideMedias" [numVisible]="3" [numScroll]="3"
                    [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions" [circular]="true"
                    [showIndicators]="false" [showNavigators]="false">
                    <ng-template let-media pTemplate="item">
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <span class="pi pi-thumbs-up"></span>
                                    <p class="mb-4">{{media.summary}}</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                            style="background-image:url({{media.backgroundImagePath}})">
                                        </div>
                                        <div class="pl-3">
                                            <p class="name">{{media.title}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section" *ngIf="latestBlogList && latestBlogList.length>0">
    <div class="container">
        <div class="grid justify-content-center mb-5">
            <div class="md:col-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <span class="subheading">{{translate('Home.Blog')}}</span>
                <h2>{{'Page.RecentBlogs'}}</h2>
            </div>
        </div>
        <div class="grid d-flex">
            <div class="md:col-{{12/latestBlogList.length}} d-flex ftco-animate fadeInUp ftco-animated"
                *ngFor="let blog of latestBlogList">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <a [routerLink]="['/p',blog.slug]" class="block-20 img"
                            style="background-image:url({{blog.backgroundPath}})">
                        </a>
                        <div class="meta mb-3">
                            <div><a [routerLink]="['/p',blog.slug]">{{blog.createdDate |
                                    date:'M/d/yy'}}</a>
                            </div>
                            <div><a [routerLink]="['/p',blog.slug]">{{blog.createdBy.name}}</a></div>
                            <!-- <div><a [routerLink]="['/p',blog.slug]" class="meta-chat"><span
                                        class="pi pi-comment"></span> 3</a></div> -->
                        </div>
                        <h3 class="heading"><a [routerLink]="['/p',blog.slug]">{{blog.name}}</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<p-toast position="bottom-right" key="home-toast" [baseZIndex]="9999999"></p-toast>