<app-top-menu></app-top-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div id="ftco-loader" class="fullscreen show">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#96bb7c"></circle>
    </svg>
</div>
<a *ngIf="generalSettings && getContactWhatsappMessage!='Contact.WhatsAppMessage'"
    href="https://api.whatsapp.com/send?phone={{generalSettings.contactWhatsApp}}&text={{getContactWhatsappMessage}}"
    class="float" target="_blank">
    <i class="pi pi-whatsapp my-float"></i>
</a>
<a *ngIf="generalSettings" href="tel:{{generalSettings.contactPhone}}" class="float-phone">
    <i class="pi pi-phone my-float"></i>
</a>