<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="grid mb-5">
            <div class="md:col">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Klasik Merdiven</h2>
                    <p *ngIf="generalSettings != null && getGeneralSettingsTransByCurrentLangId!=null">
                        {{getGeneralSettingsTransByCurrentLangId.aboutUs}}</p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class="ftco-animate fadeInUp ftco-animated">
                            <a [href]="generalSettings?.linkedInURL"><span class="pi pi-linkedin"></span></a>
                        </li>
                        <li class="ftco-animate fadeInUp ftco-animated">
                            <a [href]="generalSettings?.facebookURL"><span class="pi pi-facebook"></span></a>
                        </li>
                        <li class="ftco-animate fadeInUp ftco-animated">
                            <a [href]="generalSettings?.instagramURL"><span class="pi pi-instagram"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:col" *ngIf="leftMenuList && leftMenuList.length>0">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">{{leftMenuParent}}</h2>
                    <ul class="list-unstyled">
                        <li *ngFor="let menu of leftMenuList">
                            <a [routerLink]="menu.routerLink" [queryParams]="menu.routerQueryParameter">
                                <span class="pi pi-angle-right mr-2">
                                </span>{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:col" *ngIf="middleMenuList && middleMenuList.length>0">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">{{middleMenuParent}}</h2>
                    <ul class="list-unstyled">
                        <li *ngFor="let menu of middleMenuList">
                            <a [routerLink]="menu.routerLink" [queryParams]="menu.routerQueryParameter">
                                <span class="pi pi-angle-right mr-2">
                                </span>{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:col" *ngIf="rightMenuList && rightMenuList.length>0">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">{{rightMenuParent}}</h2>
                    <ul class="list-unstyled">
                        <li *ngFor="let menu of rightMenuList">
                            <a [routerLink]="menu.routerLink" [queryParams]="menu.routerQueryParameter">
                                <span class="pi pi-angle-right mr-2">
                                </span>{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:col">
                <div class="ftco-footer-widget mb-4" *ngIf="generalSettings != null">
                    <h2 class="ftco-heading-2">{{translate('Footer.HaveAQuestion')}}</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon pi pi-map"></span>
                                <span class="text">{{generalSettings.contactAddress}}</span>
                            </li>
                            <li>
                                <a href="tel:{{generalSettings.contactPhone}}">
                                    <span class="icon pi pi-phone"></span>
                                    <span class="text">{{generalSettings.contactPhone}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:{{generalSettings.supportMail}}">
                                    <span class="icon pi pi-envelope pr-4"></span>
                                    <span class="text">{{generalSettings.supportMail}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="md:col-12 text-center">
                <p>
                    Copyright © 2021 All rights reserved | developed by <a
                        href="https://www.linkedin.com/in/erbay-mavzer-259487184/" target="_blank">Erbay MAVZER</a>
                </p>
            </div>
        </div>
    </div>
</footer>